* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#app {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: header;
  padding: 20px;
  background-color: #044389;
  color: white;
}

#app > main {
  grid-area: main;
  padding: 20px;
}

#app > footer {
  grid-area: footer;
  padding: 20px;
  background-color: #044389;
  color: white;
}

.underline {
  color: white;
}

.station-list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-height: 100%;
  overflow-y: scroll;
}
.station-card {
  list-style: none;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #A9BCD0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr 60px;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
}

.list-header {
  font-size: 20px;
  margin: 0;
  grid-area: 1 / 1 / 2 / 2;
}

.list-address {
  margin: 0;
  grid-area: 2 / 1 / 3 / 2;
}

.list-info {
  margin: 0;
  grid-area: 3 / 1 / 4 / 2;
}

.list-icons {
  margin: 0;
  grid-area: 4 / 1 / 5 / 2;
}

.valve {
  height: 60px;
}

.valve.unavailable {
  filter: invert(56%) sepia(0%) saturate(1750%) hue-rotate(318deg) brightness(90%) contrast(101%);
}

.valve.available {
  /* #008000 */
  filter: invert(23%) sepia(71%) saturate(4770%) hue-rotate(108deg) brightness(93%) contrast(104%);
}

.error > .valve {
  filter: invert(20%) sepia(91%) saturate(6973%) hue-rotate(358deg) brightness(118%) contrast(122%);
}
