:root {
  --primary-color: #044389;
  --primary-light-color: #c1e9ec;
  --grey: hsl(202, 17%, 44%);
  --light-grey: hsl(202, 100%, 96.7%);
  --secondary-color: #ea6f66;
  --secondary-light-color: #FDF0D5;
}

html {
  line-height: normal;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:0;
}

#app {

}

#app > header {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  display: flex;
  font-size: 26px;
}

#app > header > img {
  margin-right: 12px;
  height: 40px;
}

#app > nav {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  width: 100%;
  gap: 8px;
}

.main-menu > a {
  padding: 8px;
  text-decoration: none;
  color: var(--grey);
  border-bottom: 4px solid transparent;
}

.main-menu > a.active {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

#app > main {
  padding: 20px;
}

#app > footer {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}

.underline {
  color: white;
}

.station-list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
.station-card {
  list-style: none;
  border-radius: 16px;
  border: 2px solid var(--primary-light-color);
  display: grid;
  grid-template-columns: 1fr 84px;
  grid-column-gap: 8px;
  overflow: hidden;
}

.list-content {
  padding: 24px 0 12px 24px;
}

.list-header > h1 {
  font-size: 20px;
  margin-bottom: 2px;
}

.list-address {
  display: block; /* makes the anchor better clickable */
  color: var(--primary-color);
  color: var(--grey);
}

.list-info {
  padding-top: 12px;
  color: var(--grey);
}

.line-info {
  display: flex;
  justify-content: space-between;
}

.list-icons {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  /* background-color: var(--primary-light-color); */
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.closed {
  text-orientation: upright;
  writing-mode: tb;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -0.1em;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 8px;
}

.exception-message {
  border-left: 4px var(--secondary-color) solid;
  padding: 4px 4px 4px 8px;
  background-color: var(--secondary-light-color);
  border-radius: 4px;
  word-break: break-word;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.price-type {
  font-size: 16px;
  color: var(--grey);
}

.payments {
  font-size: 14px;
  margin-top: 4px;
}

.valve {
  height: 32px;
  filter: brightness(0) saturate(100%) invert(14%) sepia(66%) saturate(3549%) hue-rotate(202deg) brightness(95%) contrast(97%);
}

.icon-container {
  background-color: var(--primary-light-color);
  width: 60px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding: 8px;
}

.icon-image {
}

.icon-badge {
  background-color: white;
  color: var(--primary-color);
  padding: 0px 6px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
}

.country-filter {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.choice-chip {
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  border-radius: 50px;
  padding: 8px;
}

.choice-chip.selected {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.country > h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  text-align: center;
}
