.header {
  color: var(--primary-color);
}

.button {
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  border-radius: 50px;
  padding: 8px;
}

.exception-message {
  border-left: 4px var(--secondary-color) solid;
  padding: 4px 4px 4px 8px;
  background-color: var(--secondary-light-color);
  border-radius: 4px;
  word-break: break-word;
}
