{{page-title "H2 tanken"}}
<div id="app">
<header>
  <img alt="Pump with H 2 inside" src="images/logo.svg"/>Tanken
</header>
<nav class="main-menu">
  <LinkTo @route="nl">Netherlands</LinkTo>
  <LinkTo @route="europe">Europe</LinkTo>
  <LinkTo @route="close">Close to Me</LinkTo>
</nav>
<main>
{{outlet}}
</main>
<footer>
  <span>An open-source project made with ❤️ by <a href="https://twitter.com/agvanherwijnen" class="underline" rel="external">Anne-Greeth</a>. Hosted by <a href="https://www.netlify.com" class="underline" rel="external">Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the <a href="https://github.com/minthamie/h2stations" class="underline" rel="external">GitHub repository</a>.</span></footer>
</div>