{{page-title "H2 tanken"}}
<div id="app">
<header>
  H2 Tanken
</header>
<main>
  <ul class="station-list">
  {{#each @model as |st | }}
  <Listitem @station={{st}}/>
  {{/each}}
</ul>
</main>
<footer>
  <span>An open-source project made with ❤️ by <a href="https://twitter.com/agvanherwijnen" class="underline" rel="external">Anne-Greeth</a>. Hosted by <a href="https://www.netlify.com" class="underline" rel="external">Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the <a href="https://github.com/minthamie/h2stations" class="underline" rel="external">GitHub repository</a>.</span></footer>
</div>